include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include myapp1 *.css
recursive-include myapp1 *.csv
recursive-include myapp1 *.html
recursive-include myapp1 *.ico
recursive-include myapp1 *.js
recursive-include myapp1 *.json
recursive-include myapp1 *.md
recursive-include myapp1 *.png
recursive-include myapp1 *.py
recursive-include myapp1 *.svg
recursive-include myapp1 *.txt
recursive-exclude myapp1 *.pyc