{% extends "templates/web.html" %}

{% block title %}{{ _("My Account") }}{% endblock %}
{% block header %}<h1>{{ _("My Account") }}</h1>{% endblock %}

{% block page_content %}

<!-- no-cache -->

<div class="col-sm-8 pull-left">
		<div class="row">

			{% for uu in doc %}

			<div class="col-xs-4 text-right text-muted">{{ _("USer Name") }}</div>
			<div class="col-xs-8">{{ uu.name }}</div>

			{% endfor %}
		</div>
	</div>
</div>

<div class="col-sm-8 pull-left">
		<div class="row">

			{% for key in detail.__dict__ %}
			<div class="col-xs-4 text-right text-muted">{{ key }}</div>
			{% if detaildict[key] %}
				<div class="col-xs-8">{{ detaildict[key] }}</div>
			{% else %}
				<div class="col-xs-8">NoNoNo</div>
			{% endif %}
			{% endfor %}

		</div>
	</div>
</div>

{% endblock %}